.container {
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-box {
  width: 450px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-box h1 {
  text-align: center;
  margin: 30px 0;
  font-size: 36px;
}

.login-input {
  margin: 20px 0;
}

.login-input input {
  width: 100%;
  height: 40px;
  padding: 10px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.login-button button {
  width: 80%;
  height: 40px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.login-button button:hover {
  background-color: antiquewhite;
}

.login-box p {
  margin: 30px 0;
  text-align: center;
}

.login-box .login-error-message {
  margin-top: -15px;
}

.login-error-message {
  font-size: 14px;
  color: red;
}