.main {
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form {
  width: 450px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form h1 {
  text-align: center;
  margin: 30px 0;
  font-size: 36px;
}

.inputBox {
  margin: 20px 0;
}

.inputBox input {
  width: 100%;
  height: 40px;
  padding: 10px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;

}

.errorBox {
  margin-top: -15px;
}

.errorMessage {
  font-size: 14px;
  color: red;
}

.buttonBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.buttonBox button {
  width: 80%;
  height: 40px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  
}

.buttonBox button:hover {
  background-color: rgb(208, 216, 208);
  cursor: pointer;
}

.form p {
  margin: 30px 0;
  text-align: center;
}
